*{
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 40px;
    padding: 20px;
    background-color: blue;
}
.container-card{
    background-color: orange;
}

.cads-big {
    width: 200px;
    height: 90px;
    margin-top: 7px;
    padding-top: 3px;
    gap: 3px;
}